@model Post
@{
    ViewBag.Title = "Detail Page";
}

<div class="item">
    <div class="post_s_item">
        <div class="post_img">
            <img class="img-fluid" src="~/assets/images/@Model.ImageUrl" alt="@Model.ImageUrl">
        </div>
        <div class="post_text">
            <a class="cat" href="#">@Model.Category.Name</a>
            <h3 class="text-primary">@Model.Title</h3>
            @Model.PostContent
            <div class="date">
                <a href="#">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Posted
                    <time class="timeago" datetime="@Model.PostedOn"></time>
                    with rate @Model.Rate by @Model.ViewCount view(s)
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4" />

@{ Html.RenderAction("Index", "Comment",new { id=Model.Id});}
