@model IEnumerable<Post>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div class="item">
        <div class="post_s_item">
            <div class="post_img">
                <img class="img-fluid" src="~/assets/images/@item.ImageUrl" alt="@item.ImageUrl">
            </div>
            <div class="post_text">
                <a class="cat" href="#">@item.Category.Name</a>
                <br />
                @Html.ActionLink(item.Title, "Details", "Post",
               new { @year = item.PostedOn.Year, month = item.PostedOn.Month.ToString("00"), urlSlug = item.UrlSlug },
               new { @class = "h4 text-decoration-none" })
                <br />
                <i class="text-muted">@item.ShortDescription</i>
                <div class="date">
                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> @item.PostedOn</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4" />
}